.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid gray;
  background-color: white;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
